/* Paleta de Cores */
:root{
    --primary-color: #F05133;
    --secondary-color: #FFFFFF;
    --tertiary-color: #000000;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}